page-about {
    .content {
        text-align: center;
        .about {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .about-text {
                color: grey;
            }
            .about-link {
                color: map-get($colors, primary);
            }
        }
    }
}