page-login {

            .content {
                        display: flex;
                        text-align: center;
                        color: #fff;
                        //background-image: url('../../assets/login.jpg');
                        background-image: url('../assets/login.jpg');
                        background-size: cover;

                        button.login {
                                    position: absolute;
                                    z-index: -999;
                                    bottom: 30px;
                                    width: 70%;
                                    margin-left: 55px;
                        }

                        a {
                                    color: lawngreen;
                        }

                        p.action {
                                    position: absolute;
                                    bottom: 2%;
                                    padding: 20%;
                        }

                        ion-card.card {
                                    position: absolute;
                                    top: 20%;
                                    background-color: rgba(0, 0, 0, .3);
                                    box-shadow: 0;

                                    ion-item.transparent {
                                                background-color: transparent;

                                                ion-input {
                                                            color: #fff;
                                                }

                                                button {
                                                            padding: 20px;
                                                }
                                    }
                        }
            }

            

}
