page-portal {

            ion-item.tracks {
                        color: #000;
                        position: absolute;
                        top: 35%;
            }

            ion-footer {
            height: 75px;
            background-color: map-get($colors, primary);
 
            ion-grid, ion-row, ion-col {
                height: 100%;
            }
 
            ion-col {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

}
