<!--
  Generated template for the Portal page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

  <ion-navbar color="primary" class="nav" hideBackButton="true">
              <ion-avatar item-left>
                          <img src="">
              </ion-avatar>
    <ion-title>Portal</ion-title>
  </ion-navbar>

</ion-header>

<ion-content >

            <ion-slides pager>

                        <ion-slide *ngIf="is_empty">
                                    No files available. Please import some files
                                    <button ion-button large (click)="uploadLocal()" style="margin-top: 2em">Import</button>
                        </ion-slide>
                        
            </ion-slides>

            <ion-list no-lines>

                        <ion-item *ngFor="let key of keys" class="tracks">
                                    {{local_tracks[key].title}}
                        </ion-item>

            </ion-list>

            <ion-footer>
            
                        <ion-grid>
            
                                    <ion-row>
            
                                                <ion-col width="33">
                                                            <button (click)="prevTrack()" color="light" clear ion-button icon-only><ion-icon name="skip-backward"></ion-icon></button>
                                                </ion-col>
            
                                                <ion-col width="33">
                                                            <button *ngIf="playing" (click)="playAudio(currentTrack)" color="light" clear ion-button icon-only><ion-icon name="play"></ion-icon></button>
                                                            <button *ngIf="!playing" (click)="pauseAudio(currentTrack)" color="light" clear ion-button icon-only><ion-icon name="pause"></ion-icon></button>
                                                </ion-col>
            
                                                <ion-col width="33">
                                                            <button (click)="nextTrack()" color="light" clear ion-button icon-only><ion-icon name="skip-forward"></ion-icon></button>
                                                </ion-col>
            
                                      </ion-row>
            
                        </ion-grid>
            
            </ion-footer>

</ion-content>
