<!--
  Generated template for the Portal page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color="theme_dark" class="nav" hideBackButton="true">
              <!--<button ion-button menuToggle="menu" end>
                           <ion-icon name="more"></ion-icon>
              </button>-->
              <!--<ion-icon name="menu" menuToggle="menu" left></ion-icon>-->
              <!--<ion-avatar item-left>
                          <img src="">
              </ion-avatar>-->
            <ion-title>My Music</ion-title>
            <ion-buttons end padding>
                        <button ion-button (click)="uploadLocal()">
                                    <ion-icon name="download"></ion-icon>
                        </button>
            </ion-buttons>
            <ion-buttons end padding>
                        <button ion-button (click)="openMenu()">
                                    <ion-icon name="more"></ion-icon>
                        </button>
            </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content >
 
            <ion-slides pager  *ngIf="is_empty">

                        <ion-slide>
                        <!--<div class="help">-->
                                    No files available. Please import some files
                                    <button ion-button large (click)="uploadLocal()" style="margin-top: 2em" color="theme_dark">Import</button>
                        <!--</div>-->
                        </ion-slide>
                        
            </ion-slides>

            <ion-list no-lines inset class="tracks" fullscreen>

                                    <!--<button ion-item text-wrap *ngFor="let track of local_tracks; #i = index;" block outline padding color="primary" (click)="playItem(i)">
                                                {{ track }}
                                    </button>-->

                                    <button ion-button text-wrap icon-right outline block class="tracks" color="primary" *ngFor="let track of local_tracks; let i = index;" (click)="playItem(i)">
                                                {{ track }}
                                    </button>

            </ion-list>

            <ion-footer>
            
                        <ion-grid>
            
                                    <ion-row>
            
                                                <ion-col width="33">
                                                            <button (click)="playPrev()" color="light" clear ion-button icon-only><ion-icon name="skip-backward"></ion-icon></button>
                                                </ion-col>
            
                                                <ion-col width="33">
                                                            <button *ngIf="!current_track.playing" (click)="playAudio()" color="light" clear ion-button icon-only><ion-icon name="play"></ion-icon></button>
                                                            <button *ngIf="current_track.playing" (click)="pauseAudio()" color="light" clear ion-button icon-only><ion-icon name="pause"></ion-icon></button>
                                                </ion-col>
            
                                                <ion-col width="33">
                                                            <button (click)="playNext()" color="light" clear ion-button icon-only><ion-icon name="skip-forward"></ion-icon></button>
                                                </ion-col>
            
                                      </ion-row>
            
                        </ion-grid>
            
            </ion-footer>

</ion-content>
