page-portal {

            $song-card-height: 90px;
 
            ion-list.tracks {
                        position: relative;
                        top: 0;

                        button {
                                    width: 100%;
                                    padding: 5px;
                        }
            }


            ion-footer {
                        height: 75px;
                        background-color: map-get($colors, theme_dark);
 
                        ion-grid, ion-row, ion-col {
                                    height: 100%;
                        }
            
                        ion-col {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                        }
        }

}
